* {
    margin: 0;
    padding: 0;
    
}
header, body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body {
    display: flex;
    justify-content: center;
    background-image: url(img/background.jpg);
    background-size: cover;
}
header {
    margin-top: 10px;
    display: flex;
    height: 50px;
    width: 100vh;
    align-items: center;
    justify-content: center;
}
main {
    margin-top: 2%;
    background: #390F64;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
    width: 1200px;
    height: 1000px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}



main .container input {
    margin-top: 20px;
    align-items: center;
}

.container {
    height: 400px;
    width: 100%;
    display: flex;
    gap: 20%;
    justify-content: center;
    align-items: center;
    background-color: rgba(99, 2, 128, 0);
}


.colunaEsquerda {

   display: flex;
   flex-direction: column;
}
.colunaDireita {
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #6D5F78;
    border-radius: 6px;
    background-color: rgba(245, 245, 220, 0);
    width: 300px;
    height: 39px;
}

.imagem {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}